# Folder library (Ukurannya gede banget, jangan di-upload!)
node_modules/

# File Environment Variables (Berisi kunci rahasia/password DB)
.env

# Log error dan file sementara
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Folder build atau distribusi (Jika ada)
dist/
build/

# Cache Vercel (Jangan di-upload)
.vercel/